@import '/assets/css/base_styles.css';

body{
    background-blend-mode:lighten;
    background-color: rgb(200,200,200, .8);
}

.chapter-content {
    background-color: rgb(237, 237, 237);
    border-color: rgb(80, 80, 80);
}

p.site-title {
    color: rgb(19, 0, 139);
    text-decoration-color: rgb(32, 0, 139);
}

hr{
    background-color: black;
}

nav.mainnav{
    background-color: rgb(230, 230, 230);
}

a.mainnav{
    color: black !important;
}

a.titlenav{
    color: rgb(19, 0, 139) !important;
}

.btn-toggle {
    color: rgb(19, 0, 139);
}

span.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28000, 000, 000, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.review-content {
    background-color: rgb(220, 220, 220);
    border-color: rgb(80, 80, 80);
}

.admin-tag{
    color: green; 
    margin-left: 8px; 
    font-weight: bold;
}

.director-tag{
    color: rgb(158, 9, 9); 
    margin-left: 8px; 
    font-weight: bold;
}